/**
*
--------------------------------------------------------------------------------------
IRAN Sans-serif fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: BGPAZ
--------------------------------------------------------------------------------------
*
**/
/* font family for all elements */
@font-face {
  font-family: "IRANSans";
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: local("IRANSans UltraLight"),
    url("../fonts/IRANSans/woff2/IRANSansWeb_UltraLight.woff2") format("woff2"),
    url("../fonts/IRANSans/woff/IRANSansWeb_UltraLight.woff") format("woff"),
    url("../fonts/IRANSans/ttf/IRANSansWeb_UltraLight.ttf") format("truetype");
}

@font-face {
  font-family: "IRANSans";
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: local("IRANSans Light"),
    url("../fonts/IRANSans/woff2/IRANSansWeb_Light.woff2") format("woff2"),
    url("../fonts/IRANSans/woff/IRANSansWeb_Light.woff") format("woff"),
    url("../fonts/IRANSans/ttf/IRANSansWeb_Light.ttf") format("truetype");
}

@font-face {
  font-family: "IRANSans";
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src: local("IRANSans Regular"),
    url("../fonts/IRANSans/woff2/IRANSansWeb.woff2") format("woff2"),
    url("../fonts/IRANSans/woff/IRANSansWeb.woff") format("woff"),
    url("../fonts/IRANSans/ttf/IRANSansWeb.ttf") format("truetype");
}

@font-face {
  font-family: "IRANSans";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: local("IRANSans Medium"),
    url("../fonts/IRANSans/woff2/IRANSansWeb_Medium.woff2") format("woff2"),
    url("../fonts/IRANSans/woff/IRANSansWeb_Medium.woff") format("woff"),
    url("../fonts/IRANSans/ttf/IRANSansWeb_Medium.ttf") format("truetype");
}

@font-face {
  font-family: "IRANSans";
  font-style: normal;
  font-display: swap;
  font-weight: bold;
  src: local("IRANSans Bold"),
    url("../fonts/IRANSans/woff2/IRANSansWeb_Bold.woff2") format("woff2"),
    url("../fonts/IRANSans/woff/IRANSansWeb_Bold.woff") format("woff"),
    url("../fonts/IRANSans/ttf/IRANSansWeb_Bold.ttf") format("truetype");
}

@font-face {
  font-family: "IRANSans";
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: local("IRANSans Black"),
    url("../fonts/IRANSans/woff2/IRANSansWeb_Black.woff2") format("woff2"),
    url("../fonts/IRANSans/woff/IRANSansWeb_Black.woff") format("woff"),
    url("../fonts/IRANSans/ttf/IRANSansWeb_Black.ttf") format("truetype");
}

@font-face {
  font-family: NotoSansArabic;
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src: local("Noto Sans Arabic Thin"),
    url("../fonts/NotoSansArabic/NotoSansArabic-Thin.ttf") format("truetype");
}

@font-face {
  font-family: NotoSansArabic;
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: local("Noto Sans Arabic ExtraLight"),
    url("../fonts/NotoSansArabic/NotoSansArabic-ExtraLight.ttf")
      format("truetype");
}

@font-face {
  font-family: NotoSansArabic;
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: local("Noto Sans Arabic Light"),
    url("../fonts/NotoSansArabic/NotoSansArabic-Light.ttf") format("truetype");
}

@font-face {
  font-family: NotoSansArabic;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local("Noto Sans Arabic Regular"),
    url("../fonts/NotoSansArabic/NotoSansArabic-Regular.ttf") format("truetype");
}

@font-face {
  font-family: NotoSansArabic;
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src: local("Noto Sans Arabic Medium"),
    url("../fonts/NotoSansArabic/NotoSansArabic-Medium.ttf") format("truetype");
}

@font-face {
  font-family: NotoSansArabic;
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: local("Noto Sans Arabic SemiBold"),
    url("../fonts/NotoSansArabic/NotoSansArabic-SemiBold.ttf")
      format("truetype");
}

@font-face {
  font-family: NotoSansArabic;
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local("Noto Sans Arabic Bold"),
    url("../fonts/NotoSansArabic/NotoSansArabic-Bold.ttf") format("truetype");
}

@font-face {
  font-family: NotoSansArabic;
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: local("Noto Sans Arabic ExtraBold"),
    url("../fonts/NotoSansArabic/NotoSansArabic-ExtraBold.ttf")
      format("truetype");
}

@font-face {
  font-family: NotoSansArabic;
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: local("Noto Sans Arabic Black"),
    url("../fonts/NotoSansArabic/NotoSansArabic-Black.ttf") format("truetype");
}
.lang_fa {
  * {
    font-family: IRANSans, FontAwesome, "Open Sans", "tinymce" !important ;
  }
}
.lang_fa-ir {
  * {
    font-family: IRANSans, FontAwesome, "Open Sans", "tinymce" !important ;
  }
}
.lang_ar {
  * {
    font-family: "Noto Sans Arabic", FontAwesome, "Open Sans", "tinymce" !important;
  }
}

.wrapper-footer {
  box-shadow: 0 -1px 5px 0 rgba(0, 0, 0, 0.1);
  border-top: 1px solid #c5c6c7;
  padding: 25px 10px 30px 10px;
  background: #fff;
  clear: both;
}
.wrapper-footer footer#footer-openedx {
  box-sizing: border-box;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
}
.wrapper-footer footer#footer-openedx:after {
  content: "";
  display: table;
  clear: both;
}
.wrapper-footer footer#footer-openedx:after {
  content: "";
  display: table;
  clear: both;
}
.wrapper-footer footer#footer-openedx p,
.wrapper-footer footer#footer-openedx ol,
.wrapper-footer footer#footer-openedx ul {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.wrapper-footer footer#footer-openedx p a,
.wrapper-footer footer#footer-openedx ol a,
.wrapper-footer footer#footer-openedx ul a {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.wrapper-footer footer#footer-openedx a {
  transition: link-color 0.15s ease-in-out 0s, border 0.15s ease-in-out 0s;
  border-bottom: none;
  color: #3b85ff;
  text-decoration: none !important;
}
.wrapper-footer footer#footer-openedx a:hover,
.wrapper-footer footer#footer-openedx a:focus,
.wrapper-footer footer#footer-openedx a:active {
  border-bottom: 1px dotted #3b85ff;
}
.wrapper-footer footer#footer-openedx .icon {
  font-family: "FontAwesome";
  font-style: normal;
}
.wrapper-footer footer#footer-openedx .colophon {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
}
.wrapper-footer footer#footer-openedx .colophon:last-child {
  margin-right: 0;
}
@media screen and (min-width: 321px) and (max-width: 540px) {
  .wrapper-footer footer#footer-openedx .colophon {
    width: 100%;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 320px) {
  .wrapper-footer footer#footer-openedx .colophon {
    width: 100%;
    box-sizing: border-box;
  }
}
.wrapper-footer footer#footer-openedx .colophon .nav-colophon {
  margin: 5px 0 30px 0;
}
.wrapper-footer footer#footer-openedx .colophon .nav-colophon:after {
  content: "";
  display: table;
  clear: both;
}
.wrapper-footer footer#footer-openedx .colophon .nav-colophon li {
  float: left;
  margin-right: 15px;
}
.wrapper-footer footer#footer-openedx .colophon .nav-colophon li a {
  color: #333;
}
.wrapper-footer footer#footer-openedx .colophon .nav-colophon li a:hover,
.wrapper-footer footer#footer-openedx .colophon .nav-colophon li a:focus,
.wrapper-footer footer#footer-openedx .colophon .nav-colophon li a:active {
  color: #3b85ff;
}
.wrapper-footer footer#footer-openedx .colophon .nav-colophon li:last-child {
  margin-right: 0;
}
.wrapper-footer footer#footer-openedx .colophon .colophon-about:after {
  content: "";
  display: table;
  clear: both;
}
.wrapper-footer footer#footer-openedx .colophon .colophon-about img {
  width: 68px;
  height: 34px;
  margin-right: 0;
  float: left;
}
.wrapper-footer footer#footer-openedx .colophon .colophon-about p {
  float: left;
  width: 74.10533%;
  margin-left: 20px;
  padding-left: 20px;
  font-size: 0.8125em;
  background: transparent
    url("/static/images/bg-footer-divider.1aab2089decb.jpg") 0 0 no-repeat;
}
.wrapper-footer footer#footer-openedx .references {
  margin: -10px 0 0 0;
  width: 31.76157%;
  display: inline-block;
}
.wrapper-footer footer#footer-openedx .wrapper-logo {
  margin: 15px 0;
}
.wrapper-footer footer#footer-openedx .wrapper-logo a {
  display: inline-block;
}
.wrapper-footer footer#footer-openedx .wrapper-logo a img {
  height: 42px;
}
.wrapper-footer footer#footer-openedx .wrapper-logo a:hover {
  border-bottom: 0;
}
.wrapper-footer footer#footer-openedx .copyright {
  margin: -2px 0 8px 0;
  font-size: 0.6875em;
  color: #767676;
  text-align: left;
}
.wrapper-footer footer#footer-openedx .nav-legal {
  text-align: left;
}
.wrapper-footer footer#footer-openedx .nav-legal:after {
  content: "";
  display: table;
  clear: both;
}
.wrapper-footer footer#footer-openedx .nav-legal li {
  display: inline-block;
  font-size: 0.6875em;
}
.wrapper-footer footer#footer-openedx .nav-legal li:not(:first-child)::before {
  margin-right: 5px;
  content: "-";
}
.wrapper-footer footer#footer-openedx .nav-social {
  margin: 0;
  text-align: right;
}
.wrapper-footer footer#footer-openedx .nav-social li {
  display: inline-block;
}
.wrapper-footer footer#footer-openedx .nav-social li:last-child {
  margin-right: 0;
}
.wrapper-footer footer#footer-openedx .nav-social li a {
  display: block;
}
.wrapper-footer footer#footer-openedx .nav-social li a:hover,
.wrapper-footer footer#footer-openedx .nav-social li a:focus,
.wrapper-footer footer#footer-openedx .nav-social li a:active {
  border: none;
}
.wrapper-footer footer#footer-openedx .nav-social li img {
  display: block;
}
.wrapper-footer footer#footer-openedx .footer-about-openedx {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  text-align: right;
  vertical-align: bottom;
}
.wrapper-footer footer#footer-openedx .footer-about-openedx:last-child {
  margin-right: 0;
}
@media screen and (min-width: 321px) and (max-width: 540px) {
  .wrapper-footer footer#footer-openedx .footer-about-openedx {
    width: 100%;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 320px) {
  .wrapper-footer footer#footer-openedx .footer-about-openedx {
    width: 100%;
    box-sizing: border-box;
  }
}
.wrapper-footer footer#footer-openedx .footer-about-openedx a {
  float: right;
  display: inline-block;
}
.wrapper-footer footer#footer-openedx .footer-about-openedx a:hover {
  border-bottom: none;
}
.wrapper-footer
  footer#footer-openedx
  .footer-language-selector
  label[for="footer-language-select"] {
  display: inline-block;
  cursor: initial;
}
.wrapper-footer footer#footer-openedx .select-lang-button {
  padding: 5px;
  color: #126f9a !important;
  height: 30px;
}
.wrapper-footer footer#footer-openedx .select-lang-button:hover,
.wrapper-footer footer#footer-openedx .select-lang-button:active,
.wrapper-footer footer#footer-openedx .select-lang-button:focus {
  background: #126f9a !important;
  color: white !important;
}
.wrapper-footer.edx-footer footer .copyright {
  text-align: right;
}
.wrapper-footer.edx-footer footer .nav-legal {
  text-align: right;
}
.view-register .wrapper-footer footer,
.view-login .wrapper-footer footer,
.view-passwordreset .wrapper-footer footer {
  width: 960px;
}
.view-register .wrapper-footer footer .colophon-about img,
.view-login .wrapper-footer footer .colophon-about img,
.view-passwordreset .wrapper-footer footer .colophon-about img {
  margin-top: 30px;
}

// loader
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #fff;
  animation: loader 2s infinite ease;
}
.loader-bg {
  background-color: #242f3f;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

.wrapper-footer footer#footer-openedx .nav-legal li:not(:first-child)::before {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  content: " ";
}

.wrapper-footer footer#footer-openedx .nav-legal li:first-child {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.wrapper-footer
  footer#footer-openedx
  .nav-colophon
  li:not(:first-child)::before {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  content: " ";
}

.wrapper-footer footer#footer-openedx .colophon .nav-colophon li:last-child {
  margin-right: 0.5rem;
}

.edspirit-logo {
  margin-top: 1rem;
  margin-right: 2rem;
}

.edspirit-logo-rtl {
  margin-top: 1rem;
  margin-left: 2rem;
}
