## mako
<%page expression_filter="h"/>
<%!
  from datetime import datetime
  from django.urls import reverse
  from django.utils.translation import gettext as _
  from lms.djangoapps.branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
  from django.utils.translation import get_language_bidi
%>
<% footer = get_footer(is_secure=is_secure) %>
<% icp_license_info = getattr(settings, 'ICP_LICENSE_INFO', {})%>
<%namespace name='static' file='static_content.html'/>
<!-- NEW IN INDIGO update footer -->
% if uses_bootstrap:
  <footer>
    <div class="custom-container mb-4 pt-5">
      <div class="footer-wrapper">
        <div class="footer-desc-wrapper" id="footer-desc-wrapper"></div>
        <div class="footer-col1-wrapper" id="footer-col1-wrapper"></div>
        <div class="footer-col2-wrapper" id="footer-col2-wrapper"></div>
        <div class="footer-col3-wrapper" id="footer-col3-wrapper"></div>
      </div>
    </div>
    <div class="footer-copy-right-container" id="footer-copy-right-container"></div>
  </footer>
% else:
  <footer>
    <div class="custom-container mb-4 pt-5">
      <div class="footer-wrapper">
        <div class="footer-desc-wrapper" id="footer-desc-wrapper"></div>
        <div class="footer-col1-wrapper" id="footer-col1-wrapper"></div>
        <div class="footer-col2-wrapper" id="footer-col2-wrapper"></div>
        <div class="footer-col3-wrapper" id="footer-col3-wrapper"></div>
      </div>
    </div>
    <div class="footer-copy-right-container" id="footer-copy-right-container"></div>
  </footer>
## js from admin console
<script type="text/javascript" src="/static/assets/js/theme.js"></script>

% endif
% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif
