## mako
<%page expression_filter="h"/>
<%!
  from django.urls import reverse
  from django.utils.translation import ugettext as _
  from lms.djangoapps.branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
  from cms.djangoapps.contentstore.config.waffle import waffle, ENABLE_ACCESSIBILITY_POLICY_PAGE
  from openedx.core.djangolib.markup import HTML, Text
  from django.utils.translation import get_language_bidi

%>

% if uses_bootstrap:
  <div class="container-fluid wrapper-footer">
    <footer>
      <div class="row">
        <div class="col-md-9">
          {% if INDIGO_FOOTER_NAV_LINKS %}
          <nav class="navbar site-nav navbar-expand-sm" aria-label="${_('About')}">
            <ul class="navbar-nav">
              {% for link in INDIGO_FOOTER_NAV_LINKS %}
                <li class="nav-item">
                  <a class="nav-link" href="{{ link['url'] }}">{{ link['title'] }}</a>
                </li>
              {% endfor %}
            </ul>
          </nav>
          {% endif %}

          {% if INDIGO_FOOTER_LEGAL_LINKS %}
          <nav class="navbar legal-nav navbar-expand-sm" aria-label="${_('Legal')}">
            <ul class="navbar-nav">
              {% for link in INDIGO_FOOTER_LEGAL_LINKS %}
                <li class="nav-item">
                  <a class="nav-link" href="{{ link['url'] }}">{{ link['title'] }}</a>
                </li>
              {% endfor %}
            </ul>
          </nav>
          {% endif %}
        </div>
        <div class="col-md-3">
          % if not hide_openedx_link:
            <div class="footer-about-openedx">
              <p>
                <a id="edx-logo-remove-handle" href="https://open.edx.org/" rel="noopener" target="_blank">
                  <img src="https://files.edx.org/openedx-logos/open-edx-logo-tag.png" alt="open.edx.org" width="140" />
                </a>
                <a id="edspirit-logo-replace-handle" class="edspirit-logo" href="https://edspirit.com" rel="noopener" target="_blank">
                  <img src="/static/studio/avid/images/edspirit-logo.png" alt="Powered by Edspirit" width="140">
                </a>
              </p>
            </div>
          % endif
        </div>
      </div>
    </footer>
  </div>
% else:
  <div class="wrapper wrapper-footer">
    <footer id="footer-openedx" class="grid-container"
      % if bidi:
        dir=${bidi}
      % endif
    >
      <div class="colophon">
        {% if INDIGO_FOOTER_NAV_LINKS %}
        <nav class="nav-colophon" aria-label="${_('About')}">
          <ol>
              {% for link in INDIGO_FOOTER_NAV_LINKS %}
              <li>
                <a href="{{ link['url'] }}">{{ link['title'] }}</a>
              </li>
              {% endfor %}
          </ol>
        </nav>
        {% endif %}

        {% if INDIGO_FOOTER_LEGAL_LINKS %}
        <nav class="nav-legal" aria-label="${_('Legal')}">
          <ul>
            {% for link in INDIGO_FOOTER_LEGAL_LINKS %}
              <li>
                <a href="{{ link['url'] }}">{{ link['title'] }}</a>
              </li>
            {% endfor %}
          </ul>
        </nav>
        {% endif %}
      </div>

      % if not hide_openedx_link:
      <div class="footer-about-openedx">
        <p>
          <a id="edx-logo-remove-handle" href="https://open.edx.org/" rel="noopener" target="_blank">
            <img src="https://files.edx.org/openedx-logos/open-edx-logo-tag.png" alt="open.edx.org" width="140" />
          </a>
          <a id="edspirit-logo-replace-handle"
            % if get_language_bidi():
            class="edspirit-logo-rtl"
            % else:
            class="edspirit-logo"
            % endif
            href="https://edspirit.com" rel="noopener" target="_blank">
            <img src="/static/studio/avid/images/edspirit-logo.png" alt="Powered by Edspirit" width="140">
          </a>
        </p>
      </div>
      % endif
    </footer>
  </div>
% endif
% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif
